a {
  text-decoration: none;
  color: #595858;
}

.card-header {
  background-color: #e5f1f7;
}

.breadcrumb {
  background-color: #e5f1f7;
  padding: 10px;
  border-radius: 4px;
}

.info{
  background-color: #c3c5cf;
  border-radius: 3px;
}