<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="">Home</a>
    </li>
    <li class="breadcrumb-item active">Lançamentos</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md">
    <h2 class="border-left ps-2">Lançamentos</h2>
  </div>

  <div class="col-md">
    <a routerLink="new" class="btn btn-success float-end">+ Novo Lançamaneto</a>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Lançamentos</th>
      <th>Categoria</th>
      <th class="text-end">Valor R$</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let entry of entries">
      <td>
        <strong>{{ entry.name }}</strong
        ><br />
        <small class="text-success">{{ entry.date }}</small
        ><br />
        <small *ngIf="entry.description">{{ entry.description }}</small>
      </td>

      <td>
        {{ entry.category?.name }}
      </td>
      <td class="text-end">
        <strong
          [ngClass]="{
            'text-success': entry.type === 'revenue',
            'text-danger': entry.type === 'expense'
          }"
          >{{ entry.amount }}
          </strong>
          <br>
          <span class="badge bg-info text-dark">{{entry.paidText}}</span>
      </td>

      <td class="text-center">
        <a
          [routerLink]="[entry.id, 'edit']"
          class="btn btn-outline-info btn-sm mr-2"
          >Editar
        </a>
        <button
          (click)="deleteEntry(entry)"
          class="btn btn-outline-danger btn-sm"
        >
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>
